@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-menu-item {
    position: relative;
    display: inline-block;
  }
  
  .footer-menu-item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #CC7722;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
  .footer-menu-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  
